.body{
    background-image: url(pexels-photo-1939485(1).jpeg);
}
.histogram{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2em;
    width: 15em;
    height:13em;
    background: linear-gradient(-240deg, #8468ff 70%, #785bf7 70%);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    padding: 4.5em 1.3em;
    border-radius: 0.4em;
    box-shadow: 0 1.3em 1.8em blue;
    border:solid 2px darkblue;
}
.h{
    background: linear-gradient(-240deg, #ad139b3a 70%, #5bf7ef 70%); 
    border-radius: 0.4em;
    box-shadow: 0 1.3em 1.8em rgb(0, 255, 229);
    border:solid 2px darkblue; 
    width:30%;
    height: 15%;


}